# mestech configurations not for git
instrument_id="YSI1234"
site_id = "some descriptive name"
lat=53.2000
lon=-9.2333
url="http://www.example.com"
db_server=192.168.2.170
db_user=mestech
db_name=mestech
db_password=letmein
